.displayable-content {
  position: relative;
  padding-top: 1.5rem;
}

.hide-buttons .previous-section-button,
.hide-buttons .next-section-button {
  display: none;
}

.previous-section-button,
.next-section-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.previous-section-button {
  left: 0;
}

.next-section-button {
  right: 0;
}

/* Add hover effects and additional styles as per your requirements */
