.review-card {
  display: flex;
  margin-bottom: 1rem;
}

.username {
  margin: 0;
}

.rating {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  color: #f0c330;
}

.star {
  margin-right: 0.5rem;
}

.comment {
  margin: 0;
  line-height: 1.5;
  font-size: 1rem;
}

.profile-picture-wrapper {
  display: flex;
  margin-right: 12px;
}
